
<div data-anchor="about" class="fp-section fp-auto-height-responsive">
    <div class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Image -->
                <div class="about-image col-xl-6 col-12 mb-30"><img src="../static/theme/assets/images/self_one.png" alt=""></div>

                <!-- About Content -->
                <div class="about-content col-xl-6 col-12 mb-30">
                    <h3 class="block-title">About Me</h3>
                    <a>A few of my favorite algorithm families are <a href="https://blog.floydhub.com/introduction-to-genetic-algorithms/">genetic algorithms</a>,
                        <a href="">randomized algorithms</a>, <a href="">multi-agent search algorithms.<a/></p>

                    <!-- Personal Info -->
                    <ul class="personal-info">
                        <li><span>Spoken Languages</span>English, 日本語</li>
                        <li><span>Typed Languages</span>Java, Python, C++, Bash, Erlang, SQL</li>
                        <li><span>Specializations</span>software engineering, artificial intelligence, machine learning, robotics</li>
                        <li><span>Hobbies</span>astronomy, violin, soccer, trance music, Japanese language and culture</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
