
<div data-anchor="about" class="fp-section fp-auto-height-responsive">
    <div class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Image -->
                <div class="about-image col-xl-6 col-12 mb-30"><img src="../static/theme/assets/images/self_one.png" alt=""></div>

                <!-- About Content -->
                <div class="about-content col-xl-6 col-12 mb-30">
                    <h3 class="block-title">About Me</h3>
                    <p>I have a deep passion for developing software that enables companies to utilize artificial
                        intelligence and machine learning in a meaningful and impactful way. I believe there is still
                        a gap between AI research and application of that research. I aim to help bridge this gap by
                        working with companies to utilize AI by building scalable, extensible and easily adaptable
                        software.</p>

                    <!-- Personal Info -->
                    <ul class="personal-info">
                        <li><span>Spoken Languages</span>English, 日本語</li>
                        <li><span>Typed Languages</span>Java, Python, C++, Bash, Erlang, SQL</li>
                        <li><span>Specialities</span>Software Engineering, Artificial Intelligence, Machine Learning</li>
                        <li><span>Hobbies:</span>Astronomy, Violin, Soccer, Music, Japanese Language</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
