<div data-anchor="service" class="fp-section fp-auto-height-responsive">
    <div class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-120 pb-lg-80 pb-md-80 pb-sm-80 pb-xs-50">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-12 ml-auto mr-auto">
                    <div class="row">

                        <!-- Project One -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <div class="blog-content">
                                <h3 class="blog-title">Sentiment Analysis</h3>
                                <p>A shallow neural network for sentiment analysis built in Keras.</p>
                                <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                            </div>
                        </div>

                        <!-- Project Two -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <div class="blog-content">
                                <h3 class="blog-title">API Aggregation Web App</h3>
                                <p>Sentiment Analysis neural network built with Keras and trained with IMDB's review dataset.</p>
                                <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                            </div>
                        </div>

                        <!-- Project Three -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <div class="blog-content">
                                <h3 class="blog-title">Autonomous Drone Navigation</h3>
                                <p>A real-time algorithm for autonomous drone rerouting using multi-agent pathfinding techniques.
                                Research, developed and tested for my master's thesis.</p>
                                <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                            </div>
                        </div>

                        <!-- Project Four -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <div class="blog-content">
                                <h3 class="blog-title">Fake News Analysis</h3>
                                <p>To be filled in later</p>
                                <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>