<div data-anchor="blog" class="fp-section fp-auto-height-responsive" style="background-image: url(../static/theme/assets/images/bg/service-bg.png)">
    <div class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-50 pb-lg-10 pb-md-10 pb-sm-10 pb-xs-20">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-12 ml-auto mr-auto">
                    <div class="row">

                        <!-- Project A -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <h3 class="blog-title">Sentiment Analysis</h3>
                            <p>Sentiment Analysis neural network built with Keras and trained with IMDB's review dataset.</p>
                            <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                        </div>

                        <!-- Project B -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <h3 class="blog-title">API Aggregation Web App</h3>
                            <p>Sentiment Analysis neural network built with Keras and trained with IMDB's review dataset.</p>
                            <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                        </div>

                         <!-- Project C -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <h3 class="blog-title">Drone Navigation (Master Thesis)</h3>
                            <p>Sentiment Analysis neural network built with Keras and trained with IMDB's review dataset.</p>
                            <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                        </div>


                        <!-- Project D -->
                        <div class="blog-item col-md-6 col-12 mb-40 mb-xs-30">
                            <h3 class="blog-title">Fake News Analysis</h3>
                            <p>Sentiment Analysis neural network built with Keras and trained with IMDB's review dataset.</p>
                            <p class="read-more"><a href="{{ url_for('routes.sentiment') }}">Go to project</a></p>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>