<div data-anchor="top" class="fp-section fp-auto-height-responsive">
    <div class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20">
        <div class="container">
            <div class="row">

                <div class="hero-image col-md-6 col-12 mb-30"><img src="../static/theme/assets/images/hero/hero-1.jpg" alt=""></div>
                <div class="hero-image col-md-6 col-12 mb-30"><img src="../static/theme/assets/images/hero/hero-2.jpg" alt=""></div>

            </div>
        </div>
    </div>
</div>